<section id="editBook">
	<div class="container jumbotron col-md-6 col-md-offset-3"
		ng-controller="editBookCtrl">

		<form name="editBookForm" novalidate id="bookDataEditionForm"
			ng-submit="editBookForm.$valid && save(newBook)">
			<div class="col-md-8 col-md-offset-2" id="feedbackPanel">
				<fieldset>
					<legend> Editar Libro </legend>
					<!-- TITULO -->
					<div class="form-group">
						<label class="">T&iacute;tulo: </label> <input required
							type="text" id="name" class="form-control" maxlength="150"
							ng-model="currentBook.name" />
					</div>

					<!-- DESCRIPCION -->
					<div class="form-group">
						<label class="labelIzquierda">Descripci&oacute;n: </label>
						<textarea rows="3" id="description" class="form-control noResize"
							ng-model="currentBook.description" ng-required="true"> </textarea>
					</div>
					<!-- EDITORIAL -->
					<div class="form-group">
						<label class="">Editorial: </label> <input ng-required="true"
							ng-model="currentBook.publisher" type="text" id="publisher"
							class="form-control" />
					</div>
					<!-- ISBN -->
					<div class="form-group">
						<label class="">ISBN: </label> <input ng-required="true"
							ng-model="currentBook.isbn" type="text" id="isbn"
							class="form-control" ng-minlength="1" ng-pattern="/^[0-9\-]*$/"/>
					</div>
					<!-- SELECT PAISES -->
					<div class="form-group">
						<label class="">Pa&iacute;s: </label> <select class="form-control"
							ng-model="currentBook.country" ng-required="true">
							<option>Argentina</option>
							<option>Brasil</option>
							<option>EEUU</option>
							<option>Inglaterra</option>
							<option>Uruguay</option>
						</select>
					</div>
					<!-- CHECKBOX CATEGORIAS -->
					<div class="form-group">
						<label class=""> Categorias:</label>
						<div class="col-md-8 col-md-offset-2 checkbox"
							ng-repeat="category in categories">
							<label class="checkbox-inline"> <input type="checkbox"
								name="selectedCategory[]" value="{{category}}"
								ng-model="category.selected"
								ng-click="toggleSelection(category, currentBook)">
								{{category.name}}<br />
							</label>
						</div>

					</div>


					<!-- BOTONES editBookForm.$valid && -->
					<div class="col-md-8 col-md-offset-2">
						<button type="button" class="btn btn-hexacta-primary btn-block"
							ng-click="save(currentBook)">Guardar</button>
						<button type="button" class="btn btn-default btn-block"
							ng-click="reset()">Limpiar</button>
						<button type="button" class="btn btn-default btn-block"
							ng-click="backToHome()">Volver</button>
					</div>
				</fieldset>
			</div>
		</form>
	</div>
</section>