
<section id="lendBook">
	<div class="container jumbotron col-md-6 col-md-offset-3"
		ng-controller="lendBookCtrl">
		<form novalidate id="bookLendingForm">
			<div class="col-md-8 col-md-offset-2" id="feedbackPanel" />
			<fieldset>
				<legend>Prestar un libro</legend>
				<!-- SELECT AVAILABLE COPY -->
				<div class="form-group">
					<label>Copia:</label><select class="form-control ng-required="true">
						<option>Copia libre 1</option>
						<option>Copia libre 2</option>
						<option>Copia libre 3</option>
					</select>
				</div>
				
				<!-- SELECT USUARIOS -->
				<div class="form-group">
					<label class="">Prestar a: </label> <select class="form-control" ng-required="true">
						<option>Dummy User 1</option>
						<option>Dummy User 2</option>
						<option>Dummy User 3</option>
					</select>
				</div>
				<!-- SELECT TIME -->

				<div ng-controller="DatepickerDemoCtrl">
				   			
				    <h4>Desde:</h4>
				    <div class="row">
				        <div class="col-md-11">
				            <p class="input-group">
				              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="fromDt" is-open="openedFrom" min-date="fromDt" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
				        </div>
				    </div>
				    <h4>Hasta:</h4>
				    <div class="row">
				      <div class="col-md-11">
				        <p class="input-group">
				          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="untilDt" is-open="openedUntil" min-date="fromDt" datepicker-options="dateOptions" date-disabled="disabled(date,mode)" ng-required="true" close-text="Close"/>
				          <span class="input-group-btn">
				            <button type="button" class="btn btn-default" ng-click="openUntil($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				          </span>
				      </div>
				    </div>
    <button type="button" class="btn btn-sm btn-hexacta-primary" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-hexacta-primary" ng-click="clear()">Clear</button>
   <hr />
</div>
				<!-- BOTONES -->
				<div class="col-md-8 col-md-offset-2">
					<button type="button" class="btn btn-hexacta-green btn-block"
						ng-click="save(newBook)">Prestar</button>
					<!-- <button type="button" class="btn btn-default btn-block"
						ng-click="reset()">Cancelar</button> -->
					<button type="button" class="btn btn-default btn-block"
						ng-click="backToHome()">Volver</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>

