<section id="lendBook">
	<div class="container jumbotron col-md-6 col-md-offset-3">
		<form novalidate name="createLoanForm" id="bookLendingForm" ng-submit="saveLoan(newLoan)">
			<div class="col-md-8 col-md-offset-2" id="feedbackPanel"/>
			<fieldset>
				<legend>Prestar libro "{{currentBook.title}}"</legend>
				<!-- SELECT USER -->
				<div class="form-group">
					<label class="">Prestar a:</label>
					<select class="form-control" ng-model="user" ng-change="selectAction(newLoan)"
					ng-options="value as value.username for value in users | filter:{enabled:'true'}">
					</select>
				</div>
				<!-- SELECT TIME -->		
			    <h4>Desde:</h4>
			    <div class="row">
			        <div class="col-md-11">
			            <p class="input-group">
			              <input type="text" class="form-control" datepicker-popup="{{format}}" 
			              ng-model="fromDate" is-open="openedFrom" min-date="fromDate" datepicker-options="dateOptions" 
			              date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" date-type="string"/> 
			              <span class="input-group-btn">
			              	<button type="button" class="btn btn-default" ng-click="openFrom($event)">
			              	<i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
			        </div>
			    </div>
			    <h4>Hasta:</h4>
			    <div class="row">
			      <div class="col-md-11">
			        <p class="input-group">
			          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="toDate" 
			          is-open="openedUntil" min-date="fromDate" datepicker-options="dateOptions" 
			          date-disabled="disabled(date,mode)" ng-required="true" close-text="Close" date-type="string"/>
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="openUntil($event)">
			            <i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			      </div>
			    </div>
   				<button type="button" class="btn btn-sm btn-hexacta-primary" ng-click="today()">Hoy</button>
   				<button type="button" class="btn btn-sm btn-hexacta-primary" ng-click="clear()">Borrar</button>
  		
  				<!-- FIXME: Mensaje de error cuando no quedan mas copias del libro -->		
  				<div class="alert alert-danger" role="alert" ng-show="true"> 
  					No quedan copias del libro. FIX ME: EJERCICIO 11
  			 	</div>
  		
				<!-- BOTONES -->
				<div class="col-md-8 col-md-offset-2">
					<button type="submit" class="btn btn-hexacta-primary btn-block">Prestar</button>
					<button type="button" class="btn btn-default btn-block"	ng-click="backToHome()">Volver</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>

