
<section id="lendBook">
	<div class="container jumbotron col-md-6 col-md-offset-3"
		ng-controller="lendBookCtrl">
		<form novalidate name="createLoanForm" id="bookLendingForm" ng-submit="createLoanForm.$valid && save(newLoan)">
			<div class="col-md-8 col-md-offset-2" id="feedbackPanel"/>
			<fieldset>
				<legend>Prestar un libro</legend>
				<!-- SELECT AVAILABLE COPY -->
				<div class="form-group">
					<label>Copia numero:</label>
					<label>{{freeCopy.code}}</label>
					
				</div>
				
				<!-- SELECT USUARIOS -->
				<div class="form-group">
					<label class="">Prestar a: </label> <select class="form-control" ng-required="true" >
						<option ng-repeat="user in users" ng-show="user.enabled" 
						ng-required="true" ng-model="user.selected" value="{{user}}">{{user.username}}</option>
					</select>
				</div>
				<!-- SELECT TIME -->
				   			
				    <h4>Desde:</h4>
				    <div class="row">
				        <div class="col-md-11">
				            <p class="input-group">
				              <input type="text" class="form-control" datepicker-popup="{{format}}" 
				              ng-model="newLoan.fromDt" is-open="openedFrom" min-date="fromDt" datepicker-options="dateOptions" 
				              date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" date-type="string"/>
				              
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="openFrom($event)">
				                <i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
				        </div>
				    </div>
				    <h4>Hasta:</h4>
				    <div class="row">
				      <div class="col-md-11">
				        <p class="input-group">
				          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="newLoan.untilDt" 
				          is-open="openedUntil" min-date="fromDt" datepicker-options="dateOptions" 
				          date-disabled="disabled(date,mode)" ng-required="true" close-text="Close" date-type="string"/>
				          
				          <span class="input-group-btn">
				            <button type="button" class="btn btn-default" ng-click="openUntil($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				          </span>
				      </div>
				    </div>
    				<button type="button" class="btn btn-sm btn-hexacta-primary" ng-click="today()">Hoy</button>
    				<button type="button" class="btn btn-sm btn-hexacta-primary" ng-click="clear()">Borrar</button>
   					<hr />
				<!-- BOTONES -->
					<div class="col-md-8 col-md-offset-2">
						<button type="submit" class="btn btn-hexacta-green btn-block">Prestar</button>
						<button type="button" class="btn btn-default btn-block"
							ng-click="backToHome()">Volver</button>
					</div>
			</fieldset>
		</form>
	</div>
</section>

