<div ng-controller="viewController">
	<form class="navbar-form navbar-right" ng-hide="loggedIn" novalidate 
		name="logInForm" role="search"  ng-submit="logInForm.$valid && validateUser(user)">
		<div class="form-group">
			<label ng-show="invalidLogin" style="color:red"> Login inv&aacute;lido </label>
			<input type="text" ng-model="user.username" ng-minlength="3" name="username"
			 	class="form-control input-sm" ng-required="true" placeholder="User" />
			<input type="password" ng-model="user.password" ng-pattern="/^[A-Za-z0-9][A-Za-z0-9]{3,12}$/" 
				class="form-control input-sm" name="password" ng-required="true" placeholder="Password" />
		</div>
		<button type="submit" class="btn btn-hexacta-primary input-sm">Entrar</button>
	</form>
	
	<form class="navbar-form navbar-right" novalidate name="logForm">
		<div id="UsuarioBox" ng-show="loggedIn">
			<label id="Usuario" ng-bind="usuario"></label>
		</div>
	</form>

</div>